@font-face {
  font-family: "Sofia";
  src: url("sofiapro-light.otf") format("opentype");
}

body {
  margin: 0;
  color: white;
  font-family: "Sofia";
  background-color: #001829;
}

#topBox {
  background-image: url("img/symbol-scatter-haikei.svg");
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid white;
}
a {
  color: white;
  text-decoration: none;
}
li {
  list-style: none;
}
button {
  border: 1px solid grey;
  padding: 10px;
  background-color: white;
}
input:focus,
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input:focus {
  outline: none;
}
